body {
    background-color: white;
}

.sections {
    display: flex;
    
}
header {
    text-align: center;
}
header h2{
    font-size: 50px;
}
header p{
    font-size: 20px;
}
.logo {

}

footer {
    text-align: center;
    height: 100%
}
.container {
    position: relative;
    text-align: center;
    color: black;
    height: 300px;

}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

sections {
    display: flex;
    flex-direction: column;
}
#social {
    position: relative;
    text-align: right;
    display: flex
}
